@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dark mode styles for DataTables */
.dark .dataTables_wrapper {
  background-color: #1a202c; /* Dark background */
  color: #cbd5e0; /* Light text color */
}

.dark .dataTables_wrapper .dataTables_filter input,
.dark .dataTables_wrapper .dataTables_length select {
  background-color: #2d3748;
  color: #cbd5e0;
  border: 1px solid #4a5568;
}

.dark .dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #2d3748;
  color: #cbd5e0 !important;
  border: none;
}

.dark .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #4a5568;
  color: #ffffff !important;
}

.dark .dataTables_wrapper .dataTables_info {
  color: #a0aec0;
}

.dark .dataTables_wrapper .dataTables_filter label,
.dark .dataTables_wrapper .dataTables_length label {
  color: #a0aec0;
}

.dark .dataTables_wrapper .dataTables_filter input:focus,
.dark .dataTables_wrapper .dataTables_length select:focus {
  outline: none;
  border-color: #718096;
}

.dark .dataTables_wrapper table.dataTable thead th {
  background-color: #2d3748;
  color: #cbd5e0;
}

.dark .dataTables_wrapper table.dataTable tbody tr {
  background-color: #2d3748;
  color: #cbd5e0;
}

.dark .dataTables_wrapper table.dataTable tbody tr:nth-child(even) {
  background-color: #1a202c;
}
